[Unit]
Description=Fuga Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/fugad
Restart=always
RuntimeDirectory=fugad
RuntimeDirectoryMode=0750
User=fuga
Group=fuga
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
